body{
    height: 100%;
    width: 100%;  
}
#Cuerpo{
    background-color: rgb(139, 19, 65);
}

.nav-item{
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.col-md-10{
    margin: auto;
}

#BGImage{
    margin:3%;
    margin-top: 130px;
    margin-bottom: 50px;
}

#Historia1{
    border: solid black 2px;
    margin:3%;
    margin-top: 130px;
}

@media screen and (max-width:768px){

    #Historia1{
        margin-top: 100px;
    }
}

#Historia2{
    border: solid black 2px;
    margin: 3%;
}

.card-text{
    text-align: center;    
}
.card{
    width: 85%;
}
.card:hover {
    transform: scale(1.02);
}
footer{
    margin:3%;
}

div[class^="d-block"]{
    margin-top: 3%;
}

.card2{
    width: auto;
}
.card2:hover{
    transform: scale(1.02);
}
.Social{
    border: 1px solid black;
    margin:3%;
}
.Contacinfo{
    border: 1px solid black;
    margin:3%;
}

#logo{
    height: 3em;
}
#logoMb{
    height: 4em;
}
